

<div class="cell table_detail">
    <hr>
    <h5> Ingresos</h5>
</div>
<table class"hover">
    <thead>
      <tr>
        <th width="200">Ingresos</th>
        <th width="200">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tickets Cobrados</td>
        <td>{{caja.cobros_tickets}}</td>
      </tr>
      <tr>
        <td>Depositos</td>
        <td>{{caja.depositos}}</td>
      </tr>
      <tr>
        <td>Recargas</td>
        <td>{{caja.recargas}}</td>
      </tr>
      <tr>
        <td>Ingresos Generales</td>
        <td>{{caja.ingreso_general}}</td>
      </tr>
      <tr>
        <td><strong>Total Sistemas: </strong>{{caja.ingreso_total}}</td>
      </tr>
    </tbody>
</table>