{% extends 'layout.html' %}
{% load static %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block menu_vertical %}
{% include 'includes/menu_vertical.html' %}
{% endblock menu_vertical %}

{% block content %}

<div class="grid-container shadow">
    <div class="grid-x centrar_div">
        <div class="cell large-5 callout primary shadow_callout">
            <h5>Usuario</h5>
            <p>{{caja.user}}</p>
        </div>
        <div class="cell medium-5 callout primary shadow_callout">
            <h5>Local-Caja</h5>
            <p>{{caja.nombre_caja}}</p>
        </div>
        <div class="cell medium-5 callout primary shadow_callout">
            <h5>Fecha de Cierre</h5>
            <p><p>{{caja.created}}</p></p>
        </div>
        <div class="cell medium-5 callout primary shadow_callout">
            <h5>Cierre Total</h5>
            <p>{{caja.total_dia}}</p>
        </div>
        <div class="cell table_detail">
            <hr>
            <h5> Cierre de Sistemas</h5>
        </div>
        <table class"hover">
            <thead>
              <tr>
                <th width="200">Sistema</th>
                <th width="200">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tinbet</td>
                <td>{{caja.tinbet}}</td>
              </tr>
              <tr>
                <td>Betgana</td>
                <td>{{caja.betgana}}</td>
              </tr>
              <tr>
                <td>Golden</td>
                <td>{{caja.golden}}</td>
              </tr>
              <tr>
                <td>Soft</td>
                <td>{{caja.soft}}</td>
              </tr>
            <tr>
                <td>Caballos Universal 1</td>
                <td>{{caja.caballos_uh1}}</td>
              </tr>
              <tr>
                <td>Caballos Universal 2</td>
                <td>{{caja.caballos_uh2}}</td>
              </tr>
              <tr>
                <td>Caballos Peruvian</td>
                <td>{{caja.caballos_peruvian}}</td>
              </tr>
              <tr>
                <td>Mesa</td>
                <td>{{caja.mesa}}</td>
              </tr>
              <tr>
                <td><strong>Total Sistemas: </strong> {{caja.total_sistemas}}</td>
              </tr>
            </tbody>
          </table>
          <div class="medium-12 cell">
            <div class="medium-4 cell">
                <button class="button warning shadow_buttons" onclick="window.print()">Imprimir</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

