
{% extends 'layout.html' %}
{% load static %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block menu_vertical %}
{% include 'includes/menu_vertical.html' %}
{% endblock menu_vertical %}

{% block content %}
<div class="grid-container shadow">
  <div class="centrar_div"> <h3>Carga de Depositos</h3> <hr></div>

  <!-- Mensaje de Exito -->

    {% if messages %}
    <ul class="messages mensaje_registro">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Fin de Mensaje de Exito -->
   
    <!-- Mensaje de Error -->

 
<!-- fin de mensaje Error-->
<!-- inicio de Form para Actualizacion de monto en cuenta-->

  
        <div class="grid-x grid-padding-x">
            <div class="cell">
            <h2>Saldos en la cuenta</h2>
            </div>
            <div class="cell large-5">
                <label >
                Monto Inicial: 
                {{banco.inicio}}
                </label>
            </div>
            <div class="cell large-5">
                <label >
                Deposito de Ingreso:
                    {{banco.deposito}}
                </label>
            </div>
            <div class="cell large-5">
                <label >
                Saldo Disponible:
                {{banco.disponible}}
                </label>
            </div>
            <div class="cell">
                <a href="{% url 'banco_app:depositos_recargas' %}" class="button warning">ingresar deposito</a>
            </div>
        </div>

  <!-- Fin de Form para Actualizacion de monto en cuenta-->

<!-- inicio de Form para los depositos-->
    <form  method="post">{% csrf_token %}
      
      <div class="grid-x grid-padding-x">
        <div class="cell large-5">
          <label >
            {{form.fecha.label_tag}}
            {{form.fecha}}
          </label>
        </div>
        <div class="cell large-5">
          <label >
            {{form.sucursal.label_tag}}
            {{form.sucursal}}
          </label>
        </div>
        <div class="cell large-5">
          <label >
            {{form.deposito.label_tag}}
            {{form.deposito}}
          </label>
        </div>
        <div class="cell">
          <button type="submit" class="button success">Crear</button>
        </div>

        <table>
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Total</th>
                
              </tr>
            </thead>
            <tbody>
            {% for deposito in depositos_elviejo %}
            <tr>
                <td>El Viejo</td>
                <td>{{ deposito.fecha }}</td>
                <td>{{ deposito.deposito }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td> <strong>Total: {{total_elviejo}}</strong></td>
            </tr>
              {% for deposito in depositos_sport %}
            <tr>
                <td>Sport</td>
                <td>{{ deposito.fecha }}</td>
                <td>{{ deposito.deposito }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td> <strong>Total: {{total_sport}}</strong></td>
            </tr>
              {% for deposito in depositos_km40 %}
              <tr>
                <td>KM-40</td>
                <td>{{ deposito.fecha }}</td>
                <td>{{ deposito.deposito }}</td>
              </tr>
              {% endfor %}
            <tr>
                <td> <strong>Total: {{total_km40}}</strong></td>
            </tr>
            </tbody>
          </table>
      </div>
    </form>

      
    
</div>
{% endblock content %}