<div class="grid-container">
    <div class="gid-x">
        <div class="cell">
            <h4 class="cell usuario"> Bienvenido {{user}}</h4>
            <hr>
        </div>
        <div class="cell">
            <ul class="vertical menu menu_nav">
                <li><a href="{% url 'caja_app:caja' %}">Cierre de Caja</a></li>
                <li><a href="{% url 'banco_app:banco' %}">Banco</a></li>
                <li><a href="{% url 'informes_app:date' %}">caja Anteior</a></li>
                <li><a href="{% url 'informes_app:informes' %}">Reportes</a></li>
                <hr>
                <li class="red"><a class="red" href="{% url 'users_app:logout' %}">Cerrar Sesion</a></li>
            </ul>
	</div>
    </div>
</div>
